.Plus10{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.name-paid{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: decimal;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid rgba(240, 248, 255, 0.2);
}
.buttons{
    width: 100vw;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    overflow-y: auto;
}
.button{
    width: 80px;
    color: rgb(203, 215, 225);
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(32, 32, 32);
}
.button:hover{
    transition: filter .5s ease;
    filter: brightness(2);
}
.list{
    margin-top: 80px;
    padding: 20px;
    color: rgb(203, 215, 225);
}
.bg{
    transition: background-color 1s ease;
    background-color: rgb(16, 16, 16);
}
.bg-blue{
    transition: background-color 1s ease;
    background-color: rgb(0, 15, 27);
}
.bg-pink{
    transition: background-color 1s ease;
    background-color: rgb(27, 0, 18);
}
.bg-green{
    transition: background-color 1s ease;
    background-color: rgb(0, 27, 11);
}
.bg-red{
    transition: background-color 1s ease;
    background-color: rgb(27, 0, 0);
}
.list div{
    margin: 10px 0;
}