.Plus10{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.showTshirtSize{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.name-paid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.list-join{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid rgba(109, 187, 255, 0.5);
}
.list-wont-join{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid rgba(255, 109, 109, 0.5);
}

li{
    list-style: decimal;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid rgba(240, 248, 255, 0.2);
}
li::marker{
    color: rgba(240, 248, 255, 0.5);
}
.li{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid rgba(240, 248, 255, 0.2);
}
.buttons{
    z-index: 2;
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    overflow-y: auto;
}
.button{
    width: 80px;
    color: rgb(203, 215, 225);
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(32, 32, 32);
}
.button:hover{
    transition: filter .5s ease;
    filter: brightness(2);
}
.buttons-sizes{
    z-index: 2;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    overflow-y: auto;
}
.button-size{
    width: 50px;
    color: rgb(203, 215, 225);
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(20, 20, 20);
    outline: none;
    background-color: rgb(32, 32, 32);
}
.button-size:hover{
    transition: filter .5s ease, border .3s ease;
    border: 1px solid rgb(31, 31, 31);
    filter: brightness(1.4);
}


.total-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.total-amount h3{
    letter-spacing: .5px;
}
.list{
    margin-top: 0px;
    overflow-y: auto;
    padding: 20px;
    color: rgb(203, 215, 225);
}
.list-with-size{
    margin-top: 0px;
    margin-bottom: 70px;
    height: 80vh;
    overflow-y: auto;
    padding: 20px;
    color: rgb(203, 215, 225);
}
.list-number{
    z-index: 0;
    position: relative;
    opacity: .5;
}
.event-info{
    z-index: 1;
    color:  rgb(203, 215, 225);
    display: absolute;
    padding: 10px;
}
.event-info strong{
    opacity: 0.8;
}
.event-info span{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(28, 28, 28);
    padding: 10px;
    border-radius: 5px;
}
.bg{
    transition: background-color 1s ease;
    background-color: rgb(16, 16, 16);
}
.bg-blue{
    transition: background-color 1s ease;
    background-color: rgb(0, 15, 27);
}
.bg-pink{
    transition: background-color 1s ease;
    background-color: rgb(27, 0, 18);
}
.bg-green{
    transition: background-color 1s ease;
    background-color: rgb(0, 27, 11);
}
.bg-red{
    transition: background-color 1s ease;
    background-color: rgb(27, 0, 0);
}
.list div{
    margin: 10px 0;
}
