*{
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: black;
}
.buttons-events{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-events{  
  width: max-content;
    color: rgb(203, 215, 225);
    margin: 10px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
  background-color: rgb(31, 31, 31);
  border: none;
  outline: none;
}
.App--title{
  color: aliceblue;
  font-size: 50px;
  text-align: center;
}